/*1st step page style register-supplier*/
.register-supplier-background{
  height: 400px;
  background: linear-gradient(180deg, #D5EAF1 0%, #FFFFFF 100%);
}
.register-supplier-main-section{
	position: relative;
	margin-top: -200px;
	background-color: #fafafa;
	margin-bottom: 60px;
}
.company-view-body{
	width: 70%;
	position: relative;
	margin-top: -543px;
	margin-bottom: 40px;
	background-color: #FAFAFA;
	min-height: 600px;
}
.neste{
  height: 38px;
  width: 112px;
  margin: 4px 0px;
  color: #FFFFFF;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 30px;
  border: none;
  border-radius: 19px;
  background-color: #00153B;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.35);
}
.step-title {
  color: #55647E;
  font-family: "Azo Sans";
  font-size: 17px;
  letter-spacing: 0;
  line-height: 29px;
  width: 130px;
  float: left;
}
 ul.tag-list {
  padding: 10px 0px;
  list-style: none;
}
ul.tag-list li {
  display: inline;
  font-size: 17px;
  color:  #55647E;
}
ul.tag-list li+li:before {
  color: black;
  content: " / ";
}
ul.tag-list li {
  color: #55647E;
  font-family: "Azo Sans";
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22.1px;
}
ul.tag-list>.current-step{
	color: #00153B;
}
.step-border{
	border-bottom: 6px solid #FDE9B1;
}
.lebel-title{
  color: #00153B;
  font-size: 19px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 10px;
}
.level-helper-text{
  color: #55647E;
  font-size: 17px;
  font-style: italic;
  line-height: 23.75px;
}
.lebel-title-1st{
	position: relative;
}
.lebel-title-1st>h1{
  color: #00153B;
  font-family: "Azo Sans";
  font-size: 40px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 52px;
}
.input-box{

}
.input-box>input{
  height: 60px;
  width: 80%;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.4);
  outline: none;
  border: none;
  padding-left: 20px;
}
.line{
	box-sizing: border-box;
    height: 56px;
    width: 1px;
    position: relative;
    border: 1px solid #2EB598;
    left: 75%;
    top: 13px;
}
.icon-input{
   text-align: -webkit-right;
   align-content: center;
   top: 10px;
   position: relative;
    background-color: #fafafa;
    z-index: 2;
}
.icon-input img{
	height: 48px;
	width: 48px;
	background-color: #fafafa;
}
.with-outline-icon{
    line-height: 110px;
    position: relative;
    left: 5%;
    text-align: right;
    align-content: center;
    top: 10px;
    z-index: 2;
}
.with-outline-icon img{
	height: 48px;
	width: 48px;
	background-color: #fafafa;
}
.line-2{
  height: 30px;
  width: 2px;
  border: 1px solid #A6AEBB;
}
.input-box>textarea{
  height: 100px;
  width: 80%;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.4);
  outline: none;
  border: none;
  padding-left: 20px;
}
.add-more{
  border: none;
  text-decoration: underline;
  background-color: #fafafa;
  color: #55647E;
  font-family: "Azo Sans";
  font-size: 17px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 23.75px;
  margin-top: 3px;
}
.line-3{
    position: absolute;
    box-sizing: border-box;
    height: 110px;
    width: 2px;
    border: 1px solid #A6AEBB;
    left: 12%;
    top: 19px;
    z-index: 1;
}

/*End 1st step page register-supplier style*/

/*********************
 * Step 2-A start
**********************/
ul.tag-list>.breadcrum-1{
  color: #2EB598;
}
ul.tag-list>.breadcrum-3{
  color: #84C1D6;
}
.lebel-title-2a{
  color: #00153B;
  font-family: "Azo Sans";
  font-size: 40px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 52px;
}
.line-step-2a img{
    height: 48px;
    width: 48px;
    position: absolute;
    z-index: 2;
    background-color: #fafafa;
    top: 25%;
    left: -15px;
}
.line-step-2a{
    box-sizing: border-box;
    height: 460px;
    width: 1px;
    border: 1px solid #A6AEBB;
    position: relative;
    z-index: 1;
    display: grid;
    margin: auto;
}
ul.service-pre-listing-many-items>li{
  width: 33.33%;
  float: left;
  line-height: 20px;
}
ul.service-pre-listing-many-items>li>a{
  opacity: 0.99;
  color: #00153B;
  font-family: "Azo Sans";
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
}
.step-2-submit{
  background-color: #FFFFFF;
  color: #C0C0C0;
  font-family: "Azo Sans";
  font-size: 17px;
  letter-spacing: 0;
  line-height: 30px;
}
.top-left-line-step2b{
  border-left: 1px solid #A6AEBB;
    margin-left: 30px;
    padding-left: 24px;
}
.service-pre-listing-select-items{
  opacity: 0.99;
  color: #00153B;
  font-size: 17px;
  font-weight: 300;
  padding-left: 20px;
}
.change{
  border: none;
  opacity: 0.99;
  color: #00153B;
  font-size: 17px;
  font-weight: 300;
  padding-left: 20px;
  background-color: #fafafa;
}
.step-2b-checkbox{
    margin-left: -50px;
    margin-top: -10px;
}
.step-2b{
  min-height: 960px;
}

/*End 2-A step*/

/*Start 3rd step*/
.register-supplier-background-3rd{
  height: 960px;
  background-color: #DBE4EC;
  opacity: .99;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.edit-button>button{
  border: none;
  background-color: #DBE4EC;
}
.edit-text{
    color: #00153B;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.1px;
}
.lebel-positioning{
    margin-left: 55px;
    margin-top: -12px;
}
.register-supplier-main-section-3rd{
  position: relative;
  margin-top: -600px;
  background-color: #fafafa;
  margin-bottom: 60px;
}
.register-supplier-company-background-3rd{
  box-sizing: border-box;
  background-color: #DBE4EC;
  opacity: .85;
  background-repeat: no-repeat;
  background-size: cover;
  height: 348px;
}
.logo-box{
  position: relative;
  display: grid;
  margin: auto;
  margin-top: 20px;
  height: 314px;
  width: 314px;
  background: radial-gradient(circle, #C9D3E6 0%, #F6F8FC 100%);
}
.logo-edit{
  margin-top: 20px;
  margin-left: 20px;
}
.logo-edit>img{
  height: 48px;
  width: 48px;
  margin-right: 10px;
}
.logo-button{
  border: none;
  text-decoration: underline;
  color: #00153B;
  font-family: "Azo Sans";
  font-size: 19px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0;
  background-color:#E5EAF3;
}
.logo-preview{
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 250px;
  display: grid;
  margin: auto;
  content: "Gyildige filformat .JPG, .PNG anbefalt størrelse 250 x 250";
}
.line-logo{
  position: absolute;
  top: 85px;
  box-sizing: border-box;
  height: 226px;
  width: 2px;
  border: 1px solid #2EB598;
  left: 5%;
}
.top-left-line-step3{
    box-sizing: border-box;
  height: 59px;
  width: 2px;
  border: 1px solid #A6AEBB;
    position: relative;
    margin: auto;
    top: 80px;
    left: 23%;
}
.step-img{
      position: absolute;
    left: 60%;
    bottom: -123px;
}
.line-step{
  position: relative;
}
.step-3-line{
    box-sizing: border-box;
    height: 160px;
    width: 2px;
    border: 1px solid #A6AEBB;
    position: absolute;
    left: 70%;
    z-index: 1;
}
.left-icon-line{
  position: relative;
}
.line-moter{
    box-sizing: border-box;
    height: 170px;
    width: 1px;
    border: 1px solid #DC0606;
    position: absolute;
    z-index: 1;
    left: 70%;
    top: 27%;
}
.edit-war-icon{
    position: absolute;
    z-index: 2;
    background-color: #fafafa;
    left: 58%;
    top: 55%;
    width: 48px;
    height: 48px;
}
.icon-title-step-3{
  color: #55647E;
}
.only-left-line{
  box-sizing: border-box;
  height: 86px;
  width: 2px;
  border: 1px solid #A6AEBB;
  position: relative;
  left: 73%;
}
.bt-line{
height: 174px;
    position: relative;
    left: 70%;
    width: 1px;
    border: 1px solid #a6aebb;
}
.step-bt-img{
    position: relative;
    left: 57%;
    top: 0;
}
.privacy-check{
  width: 400px;
  font-size: 17px;
  color: #00153B;;
}
.line-h{
  height: 80px;
  position: absolute;
  left: 70%;
}
.step-img-2{
    position: absolute;
    left: 51%;
    bottom: -123px;
}
.sigle-line{
  top: -18px;
}
.container-custom{
  font-size: 17px;
}
.step-publish{
    margin-left: 125px;
    margin-top: -56px;
}
/*End 3rd step*/

/***************
Register supplier
****************/
.edit-profile-title{
  color: #00153B;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 20px;
}
.publiser{
  height: 38px;
  width: 112px;
  margin: 4px 0px;
  color: #FFFFFF;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 30px;
  border: none; border-radius: 19px;
  background-color: #00153B;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.35);
}
.save{
  height: 21px;
  width: 45px;
  color: #00153B;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
  border: none;
  background-color: #FAFAFA;
  margin-right: 30px;
}
.top-left-line-register{
  box-sizing: border-box;
  height: 56px;
  width: 1px;
  border: 1px solid #2EB598;
  position: relative;
  left: 75%;
}
.line-hh {
    height: 80px;
    position: absolute;
    left: 56%;
}
.step-img-22 {
    position: absolute;
    left: 27%;
    bottom: -123px;
}
.line-22 {
    height: 30px;
    width: 2px;
    border: 1px solid #A6AEBB;
    left: 62%;
}

/*End register supplier*/

/*********************************************/
 /********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .step-2b-checkbox {
       margin-left: 0px; 
       margin-top: 0px; 
  }
  .row{
    overflow-x: hidden;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .step-2b-checkbox {
       margin-left: 0px; 
       margin-top: 0px; 
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  ul.service-pre-listing-many-items>li {
      width: 50%;
      float: left;
      line-height: 20px;
      position: relative;
      z-index: 1;
  }
  .step-2b-checkbox {
     margin-left: 0; 
     margin-top: 10px; 
  }
  .top-left-line-step2b {
     margin-left: 0px;
  }
  .lebel-positioning {
    margin-left: 55px;
     margin-top: 0px; 
  }
  .row{
    /*width: 100%;*/
    /*overflow-x: hidden;*/
  }
  ul.tag-list li {
    color: #55647E;
    font-family: "Azo Sans";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22.1px;
  }
  .input-box {
    position: relative;
    z-index: 2;
  }
  .privacy-check {
     width: 100%; 
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  ul.service-pre-listing-many-items>li {
      width: 100%;
      padding-left: ;
      line-height: 20px;
      position: relative;
      z-index: 1;
  }
}
